<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <h1>{{ title }}</h1>
    <div>
      <p>{{ body }}</p>
      <p>{{ body }}</p>
    </div>
    <h2>時間</h2>
    <p>{{ showDate() }}</p>
    <h1>ディレクティブ</h1>
    <a :href="url">{{ url }}</a>
    <button @click="clickButton">ボタン</button>
    <h1>v-modelの動作確認</h1>
    <input @input="message = $event.target.value">
    <p>入力内容 : {{ message }}</p>
    <h1>computed property</h1>
    <input v-model="text1">
    <p>text1 : {{ capitalizedText1 }}</p>
    <input v-model="text2">
    <p>text2 : {{ capitalizedText2() }}</p>
    <h1>watch</h1>
    <input v-model="text3">
    <p>text3 : {{ text3 }}</p>
    <input v-model="text4">
    <p>text4 : {{ text4 }}</p>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</body>

</html>
